.overlay {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 1;
    visibility: hidden;
    transition: all 1s ease-in;
}

.booking {
    position: sticky;
    display: flex;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 845px;
    background-color: $white;
    z-index: 100;
    opacity: 1;
    visibility: hidden;
    transition: all 1s ease-in;
    .booking_close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 30px;
        right: 30px;
        border: none;
        background-image: url(./assets/svg/close.svg);
        background-color: inherit;
    }
}

.booking_form {
    width: 970px;
    height: 663px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .booking_type {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        .booking_type_header {
            height: 140px;
            width: 100%;
            border-bottom: solid 3px $red;
            .booking_type_logo_img {
                width: 85px;
                height: 41px;
                background-image: url(./assets/svg/form-logo.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .booking_type_title {
                font-family: Forum;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 55px;
                text-transform: uppercase;
                color: $gold;
                margin: 0px;
            }
            .booking_type_description {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $red;
                margin-top: 13px
            }
        }
        .booking_type_inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 460px;
            width: 100%;
            margin-top: 60px;
            .booking_type_inputs-item {
                height: 41px;
            }
            .date_container {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: space-between;
                input {
                    width: 190px;
                }
            }
        }
        .booking_type_tickets {
            height: 135px;
            width: 100%;
            border: solid 1px #030303;
            .booking_type_tickets_container {
                width: 370px;
                height: 110px;
                margin: auto;
                .booking_type_tickets-description {
                    font-family: Forum;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: $gold;
                    margin-top: 12px;
                    margin-bottom: 5px;
                }
                .booking_type_tickets-underline {
                    width: 100%;
                    height: 2px;
                    background-color: $red;
                    margin-bottom: 20px;
                }
            }
        }
        .booking_type_choice {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 62px;
            .choice {
                display: flex;
                justify-content: space-between;
                .booking_type_choice-label {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #030303;
                }
                .booking_type_choice_numbers {
                    width: 105px;
                    height: 25px;
                    display: flex;
                }
            }
        }
    }
}

.choice_numbers-actual {
    text-align: center;
    padding: 0;
    border: 1px solid $black;
    border-right: 0;
    border-left: 0;
    background-color: initial;
    width: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.choice_numbers-operator {
    padding: 0;
    border: 1px solid $black;
    border-left: 0;
    background-color: $black;
    color: $white;
    width: 35px;
    height: 25px;
}

.booking_payment {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 100%;
    border: solid 1px $black;
    .booking_payment_overview {
        display: flex;
        flex-direction: column;
        position: sticky;
        height: 151px;
        width: 470px;
        margin: 25px 30px 0px 30px;
        .booking_payment_overview_img {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .booking_payment_overview_title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #272727;
            margin-bottom: 2px;
            margin-top: 0px;
        }
        .booking_payment_overview_description {
            margin: 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #740C11;
        }
        .tictet-info {
            display: flex;
            height: 22px;
            margin-top: 5px;
            &:nth-of-type(1) {
                margin-top: 10px;
            }
            img {
                margin-right: 15px;
            }
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                color: #030303;
                height: 22px;
                margin: 0;
            }
        }
    }
    .booking_payment_total {
        display: flex;
        flex-direction: column;
        width: 470px;
        height: 117px;
        margin-top: 22px;
        margin-left: 30px;
        .ticket {
            display: flex;
            justify-content: space-between;
            height: 27px;
            &:nth-of-type(1) {
                margin-bottom: 5px;
            }
            .ticket__number {
                display: flex;
                align-items: center;
                .count {
										padding: 0;
    								border: 0;
    								text-align: center;
                    background-color: #030303;
                    color: #A4A4A3;
                    border-radius: 3px;
                    width: 32px;
                    height: 21px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }
                .name {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 26px;
                    color: #030303;
                    margin: 0px;
                }
            }
            .ticket__price {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 26px;
                color: #030303;
                margin: 0px;
            }
        }
        .total-underline {
            width: 100%;
            height: 2px;
            background-color: #740C11;
            margin-top: 7px;
        }
        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .total__text {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 37px;
                color: #030303;
                margin: 0px;
            }
            .total__price {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 37px;
                color: #030303;
                margin: 0px;
            }
        }
    }
}

.creditcard {
    position: absolute;
    width: 360px;
    height: 211px;
    border-radius: 5px;
}

.booking_payment_frontcard {
    left: 30px;
    bottom: 127px;
    background-image: url(./assets/img/form_frontcard.jpeg);
    z-index: 2;
    display: flex;
    flex-direction: column;
    .card-label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #161615;
        margin: 0px;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 0px;
        &:nth-of-type(1) {
            margin-top: 15px;
        }
    }
    .card-number {
        width: 215px;
        height: 35px;
        margin-left: 20px;
        padding: 0px;
        border: 0px;
    }
    .card-date {
        width: 100px;
        height: 35px;
        padding: 0px;
        border: 0px;
    }
    .select-date {
        display: flex;
        justify-content: space-between;
        width: 215px;
        margin-left: 20px;
    }
    .card-name {
        width: 320px;
        height: 35px;
        margin-left: 20px;
        margin-bottom: 15px;
        padding: 0px;
        border: 0px;
    }
}

.booking_payment_backcard {
    right: 30px;
    bottom: 97px;
    background-image: url(./assets/img/form_backcard.jpeg);
    z-index: 1;
    .cvv-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;
        height: 111px;
        right: 20px;
        bottom: 15px;
        .cvv-label {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #161615;
            margin: 0px;
        }
        .cvv-field {
            width: 75px;
            height: 35px;
            padding: 0px;
            border: none;
            margin-top: 5px;
            margin-bottom: 6px;
        }
        .cvv-text {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #161615;
            margin: 0px;
            height: 50px;
            width: 55px;
        }
    }
}

.booking_payment_buy {
    position: absolute;
    right: 30px;
    bottom: 26px;
    background-color: $red;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: $white;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 45px;
}