.explore {
    min-height: 865px;
}

.explore_container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.explore_text-box {
    display: flex;
    flex-direction: column;
    width: 660px;
}

.explore_title {
    margin-top: 76px;
    margin-bottom: 0;
}

.explore_underline {
    bottom: 1px;
}

.explore_info {
    margin-top: 80px;
}

.explore_info_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21.6px;
    line-height: 38.5px;
    color: $white;
}

.explore_info_text:nth-of-type(2) {
    margin-top: 30px;
}

.explore_info_text:last-of-type {
    font-size: 21.5px;
}

.explore_text-yellow {
    color: $gold;
}

.explore-image {
    margin-top: 90px;
    width: 720px;
    height: 700px;
    position: relative;
}

.compare-img-container {
    position: absolute;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.compare-img {
    height: 100%;
    height: 100%;
    vertical-align: middle;
}

.explore-slider {
    position: absolute;
    height: 100%;
    width: 39px;
    cursor: ew-resize;
    z-index: 9;
}