.paralax {
    height: 400px;
}

.paralax__background {
    min-height: 400px;
    background-image: url(assets/img/parallax.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.paralax_title {
    display: none;
}